.invisible-at-first {
	display: none;
}

.bg-color-green{
	background-color : green;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px !important;
}

tr.selected {
	background-color: #9ad3de;
	color: #ffffff;
	
}


#newBgColor {
	background-color: red;
}

